/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: #1e1e1e;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* ======================load.html================== */

.wrapper {
    background: #DFDFDF;
  width: 100%;

}
.container {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 160px;
  border-bottom: 2px solid black;
}
.header__logo {
  border-right: 2px solid black;
}
.header__menu {
  display: flex;
  gap: 40px;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #1e1e1e;
}
.header__social-net {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 111px;
    padding-bottom: 54px;
    border-bottom: 2px solid black;
    gap: 42px;
}
.main__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #1E1E1E;
}
.main__text {
    font-size: 96px;
    max-width: 766px;
    text-align: center;
}

.main__video {

}