/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: #1e1e1e;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* ======================load.html================== */

.wrapper {
  background: #dfdfdf;
  width: 100%;
  color: #1e1e1e;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 160px;
  border-bottom: 2px solid black;
}
.header__logo {
  border-right: 2px solid black;
}
.header__menu {
  display: flex;
  gap: 40px;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #1e1e1e;
}
.header__social-net {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
}
.main__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 111px;
  padding-bottom: 54px;
  border-bottom: 2px solid black;
  gap: 42px;
}
.video__title {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #1e1e1e;
}
.video__text {
  font-size: 96px;
  max-width: 766px;
  text-align: center;
}

.video__video {
}



.main__about-project {
  padding-top: 151px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  border-bottom: 2px solid black;
  }
.about__text {
  font-size: 20px;
  max-width: 600px;
  align-self: center;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.about__arrow-titles {
  display: flex;
  flex-direction: row;
}
.arrow-titles__archer {
  margin-left: -120px;
}
.arrow-titles__section {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 250px;
  font-size: 48px;
}
.arrow-titles__arrow {

}
.arrow {
}
.project {
  margin-left: -100px;
}
.news {
  margin-left: -50px;
}
.video-center {
  margin-left: -100px;
}


.footer {
  padding: 57px 35px 72px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__partner {
  display: flex;
  gap: 25px;
}
.partner__image {
}
.klio {
  width: 160px;
  height: 179px;
}
.presid {
  width: 311px;
  height: 165px;
}
.nhk {
  width: 168px;
  height: 129px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 20px;
  line-height: 30px;
  margin-left: 46px;
  color: #1e1e1e;
}
.footer__contact {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  min-height: 220px;
  max-width: 300px;
}